.row {
  box-shadow: 12px 12px 22px;
}

.dash {
  display: inline-block;
  width: 20%;
  border: 1px solid #ccc;
  margin: 0 0.5rem;
  vertical-align: middle;
}

@media screen and (min-width: 992px) {
  .row {
    margin-top: 3rem
  }
}