input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

img {
  width: 5rem;
  border-radius: 0;
  background-color: #f8f8f8;
}

.container-fluid {
  background-color: #f9fafb;
}

.cart.row {
  min-height: 100vh;
}

.navbar {
  padding: 8px 18px !important;
}

.col-lg-7>ul,
.col-lg-5>.card {
  margin-top: 1.5rem;
}

.card {
  border: 0 !important;
  border-radius: 0;
  padding: 1.5rem;
}

.toinfo:hover {
  color: #be6064 !important;
}

.count {
  position: relative;
  width: 1.2rem !important;
  height: 1.2rem !important;
  padding: 0 !important;
}

.count .bi {
  position: absolute;
  top: -0.3rem;
  left: -0.04rem;
}

.count input {
  width: 1rem;
}

.use {
  color: #415ae9;
  background-color: #d4ebff;
  margin-left: 0.5rem;
}

@media screen and (min-width: 1200px) {
  .cart {
    padding: 2.5rem 100px;
  }
}

@media screen and (max-width: 992px) {

  .col-lg-7 h5,
  .col-lg-5 h5 {
    text-align: center !important;
  }
}

@media screen and (max-width: 576px) {
  .col-10 {
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
  }

  .col-10 .col-12 {
    padding: 0.2rem 0.4rem 0.2rem 0;
  }

  .col-10 .col-12:nth-child(2) {
    justify-content: space-between !important;
  }

  .col-10 p {
    text-align: start;
  }

  .toinfo{
    padding-left: 0 !important;
  }
}