.home {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.home>.navbar {
  background-color: #000;
  --bs-navbar-color: #fff;
  --bs-btn-hover-color: #fff;
}

.home>.navbar .nav-center {
  font-weight: 600;
}

.home>.btn {
  font-size: 0.5rem !important;
  padding: 0.3rem, 0.6rem;
}

.home>.btn:hover {
  --bs-btn-hover-color: #fff;
}

.home>.btn .bi {
  color: #fff !important
}

.home .navbar a {
  color: #fff !important;
}

.home .navbar a:hover {
  color: #ca585f !important;
}


.home>.btn-warning:nth-child(n+4) {
  width: 30% !important;
}

.home>.section img {
  height: 100% !important;
}

.btn-warning:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

.carousel__viewport,
.carousel__track {
  height: 100%;
}

.carousel__pagination {
  position: absolute;
  bottom: 2.5%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 !important;
  padding: 0 !important;
}

.carousel__pagination-button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
}

.carousel__pagination-button--active {
  background-color: #fff !important;
}

.carousel__prev,
.carousel__next {
  background-color: transparent;
  margin: 0 1rem;
}

.content {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.description {
  display: none;
}

@media screen and (min-width: 991.9px) {
  .bb{
    margin-left: 6rem;
  }
  .aa {
    margin-left: 15rem !important;
  }
}

@media screen and (max-width: 991.9px) {
  .navbar-collapse {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .home>.section {
    height: 100vh !important;
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }

  .content>.description {
    display: block !important;
  }
}

@media screen and (max-width: 576px) {
  .home>.section {
    height: 50vh !important;
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }
}