.navbar {
  padding: 8px 18px !important;
}

.navbar-nav .nav-item:nth-child(2) {
  position: relative;
}

.bi {
  font-size: 1.2rem;
}

.cart-amount {
  position: absolute;
  top: 0.1rem;
  left: 1.3rem;
  width: 1.1rem;
  height: 1.1rem;
  line-height: 1.1rem;
  border-radius: 50%;
  background-color: #be6064;
  font-size: 0.7rem;
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .cart-amount {
    left: 51%
  }
}