input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.title {
  font-size: 2.5rem;
}

.price {
  color: #be6064
}

.add-btn {
  background-color: #be6064;
  color: #fff;
}

.toCart-btn {
  padding-top: 0.4rem;
  background-color: #333;
  color: #fff
}

.bi-plus::before,
.bi-dash::before {
  vertical-align: 0;
}

.count {
  width: 2rem !important;
  height: 2rem !important;
  padding: 0 !important;
  font-size: 1.5rem;
  box-shadow: 1px 1px;
  align-self: center;
}

.form-check-input {
  width: 1rem;
  height: 1rem;
}

@media screen and (max-width: 992px) {
  .picture {
    text-align: center;
  }
}