input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
a:hover{
  color: #ca585f;
}
.picture{
  position: relative;
  .like{
    position: absolute;
    top: .5rem;
    right: 0;
    transform: translateX(-80%);
    z-index: 100;
    .bi-bookmarks {
      font-size: 1.5rem;
    }
    .bi-bookmarks-fill {
      font-size: 1.5rem;
      color: #be6064;
    }
  }
  img{
    width: 100%;
  }
}
.title {
  font-size: 2.5rem;
}

.price {
  color: #f11d00;
  font-weight: 800;
}

.toCart-btn {
  background: #333;
}

.bi-plus::before,
.bi-dash::before {
  vertical-align: 0;
}

.count {
  width: 2rem !important;
  height: 2rem !important;
  padding: 0 !important;
  font-size: 1.5rem;
  box-shadow: 0 0 5px;
  align-self: center;
}

.form-check-input {
  width: 1rem;
  height: 1rem;
}
@media screen and (max-width: 992px) {
  .picture {
    margin-bottom: 1rem;
    text-align: center;
  }
}