@media screen and (min-width: 600px) {
  .list-group-horizontal {
    width: 50% !important;
    margin: 0 auto;
  }
}

ul {
  border-radius: 0;
}

.category {
  border-radius: 0 !important;
  border-radius: 0.2rem !important;
  color: #f4f4f4;
  background-color: #393c41;
}

.category:hover {
  background-color: #be6064;
  color: #fff;
}

.list-group {
  --bs-list-group-action-hover-bg: #be6064;
  --bs-list-group-action-hover-color: rgba(255, 255, 255, 0.9);
}

h5 {
  font-size: 1rem;
}

.bi-suit-heart:hover,
.bi-arrow-right:hover {
  color: #be6064;
}

.product img:hover {
  transform: scale(1.05);
  transition: 1.5s;
}

.product .btn-sm {
  --bs-btn-padding-x: 0.2rem;
  --bs-btn-padding-y: 0rem
}